<template>
  <v-container>
    <div class="calendar">
      <month />
    </div>
  </v-container>
</template>
<script lang="ts">
import { ActionType } from '@/store/calendar/actions'
import { 
  useNamespacedActions,
} from 'vuex-composition-helpers'
import { defineComponent } from '@nuxtjs/composition-api'
export default defineComponent({
  setup(){
    const { [ActionType.getEventListFromStorage]: getEvents } = useNamespacedActions('calendar', [
      ActionType.getEventListFromStorage,
    ])
    return {
      getEvents,
    }
  },
  watch:{
    $route:{
      immediate: true,
      handler: 'initialize',
    },
  },
  methods:{
    initialize(): void{
      this.getEvents()
    },
  },
})
</script>