<template>
  <div>
    <v-dialog
      :value="visibleModal"
      :width="1000"
      @click:outside="hide"
    >
      <v-card>
        <v-card-title>
          <span class="text-h5">Lista zdarzeń - {{selectedDay}}</span>
          <v-spacer />
          <v-icon @click="goPrevDay">
            mdi-chevron-left
          </v-icon>
          <v-icon @click="goNextDay">
            mdi-chevron-right
          </v-icon>
        </v-card-title>
        <v-card-text>
          <v-container class="mh-700">
            <day-weather />
            <day-add-edit-event 
              v-model="showEditEventModal"
            />
            <day-event-list 
              @showEditModal="editEvent"
              @showAddModal="addEvent"
            />
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import { GetterType } from '@/store/calendar/getters'
import { MutationType } from '@/store/calendar/mutations'
import { 
  useNamespacedGetters, 
  useNamespacedMutations,
} from 'vuex-composition-helpers'
import { defineComponent, ref } from '@nuxtjs/composition-api'
export default defineComponent({
  setup(){
    const showEditEventModal = ref(false)
    const { 
      [GetterType.getEventListModal]: visibleModal, 
      [GetterType.getSelectedDay]: selectedDay 
    } = useNamespacedGetters('calendar', [
      GetterType.getEventListModal,
      GetterType.getSelectedDay,
    ])
    const { 
      [MutationType.hideEventListModal]: hide, 
      [MutationType.selectEvent]: selectEvent, 
      [MutationType.goNextDay]: goNextDay, 
      [MutationType.goPrevDay]: goPrevDay 
    } = useNamespacedMutations('calendar', [
      MutationType.hideEventListModal,
      MutationType.selectEvent,
      MutationType.goNextDay,
      MutationType.goPrevDay,
    ])
    const addEvent = () => {
      selectEvent(null)
      showEditEventModal.value = true
    }
    const editEvent = () => {
      showEditEventModal.value = true
    }
    return { 
      showEditEventModal,
      visibleModal,
      selectedDay,
      hide,
      selectEvent,
      goNextDay,
      goPrevDay,
      addEvent,
      editEvent,
    }
  },
})
</script>