<template>
  <v-dialog
    :value="value"
    :width="1000"
    @click:outside="hide"
  >
    <v-card>
      <v-container class="mh-700">
        <v-card-title>
          <span class="text-h5">Dodaj/edytuj zdarzenie</span>
        </v-card-title> 
        <div class="add-edit-dayEvent mt-8 px-5">
          <vue-ctk-date-time-picker 
            label="Start"
            locale="pl"
            format="YYYY-MM-DD hh:mm"
            v-model="dayEvent.startDate" 
            :error="existStateDateErrors"
            @is-hidden="v$.dayEvent.startDate.$touch()"
          />
          <small class="red--text text--lighten-1">
            {{startDateErrors}}
          </small>
          <vue-ctk-date-time-picker 
            class="mt-5"
            label="Koniec"
            locale="pl"
            format="YYYY-MM-DD hh:mm"
            :error="existEndDateErrors"
            v-model="dayEvent.endDate" 
            @is-hidden="v$.dayEvent.endDate.$touch()"
          />
          <small class="red--text text--lighten-1">
            {{endDateErrors}}
          </small>
          <v-text-field
            class="mt-5"
            outlined
            label="Opis"
            v-model="dayEvent.description"
            :error-messages="descriptionErrors"
            @input="v$.dayEvent.description.$touch()"
            @blur="v$.dayEvent.description.$touch()"
          />
          <v-btn
            color="primary"
            class="mt-5"
            @click="save"
          >
            Zapisz
          </v-btn>
        </div>
      </v-container>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker'
import { GetterType } from '@/store/calendar/getters'
import { MutationType } from '@/store/calendar/mutations'
import { ActionType } from '@/store/calendar/actions'
import { 
  useNamespacedGetters, 
  useNamespacedMutations,
  useNamespacedActions,
} from 'vuex-composition-helpers'
import useVuelidate from '@vuelidate/core'
import { required } from 'vuelidate/lib/validators'
import { defineComponent, reactive } from '@nuxtjs/composition-api'
import { v4 as uuid } from 'uuid'
import DayEvent from '@/models/DayEvent'
const id: string = uuid()
const EMPTY_EVENT = {
  id: '',
  startDate: '',
  endDate: '',
  description: '',
}
export default defineComponent({
  props:{
    value:{
      type: Boolean,
      default: false,
    },
  },
  setup(){
    const { [GetterType.getSelectedEvent]: selectedEvent } = useNamespacedGetters('calendar', [
      GetterType.getSelectedEvent,
    ])
    const { [MutationType.selectEvent]: selectEvent } = useNamespacedMutations('calendar', [
      MutationType.selectEvent,
    ])
    const { 
      [ActionType.addEventToStorage]: addEvent, 
      [ActionType.updateEventInStorage]: updateStorageEvent, 
    } = useNamespacedActions('calendar', [
      ActionType.addEventToStorage,
      ActionType.updateEventInStorage,
    ])
    const state = reactive({
      dayEvent: {
        id: '',
        startDate: '',
        endDate: '',
        description: '',
      }
    })
    const rules = {
      dayEvent: {
        startDate: { required },
        endDate: { required },
        description: { required },
      }
    }
    const v$ = useVuelidate(rules, state)
    return { 
      v$,
      selectedEvent,
      selectEvent,
      addEvent,
      updateStorageEvent,
      dayEvent: state.dayEvent,
    }
  },
  computed: {
    startDateErrors():string | undefined {
      if(!this.v$.dayEvent.startDate.$error) return
      if(this.v$.dayEvent.startDate.required.$invalid) return 'To pole jest obowiązkowe'
      return
    },
    existStateDateErrors(): boolean{
      if(this.startDateErrors == null) return false
      return true
    },
    endDateErrors():string | undefined {
      if(!this.v$.dayEvent.endDate.$error) return
      if(this.v$.dayEvent.endDate.required.$invalid) return 'To pole jest obowiązkowe'
      return
    },
    existEndDateErrors():boolean {
      if(this.endDateErrors == null) return false
      return true
    },
    descriptionErrors():string | undefined {
      if(!this.v$.dayEvent.description.$error) return
      if(this.v$.dayEvent.description.required.$invalid) return 'To pole jest obowiązkowe'
      return
    },
  },
  watch:{
    value:{
      immediate: true,
      handler: 'initialize',
    }
  },
  methods:{
    initialize(): void{
      if(!this.value) return
      this.v$.$reset()
      if(this.selectedEvent == null) {
        Object.assign(this.dayEvent, EMPTY_EVENT)
        return
      }
      Object.assign(this.dayEvent, this.selectedEvent)
    },
    save(): undefined{
      this.v$.$touch()
      if (this.v$.$invalid) return
      if(!this.$dayjs(this.dayEvent.startDate).isBefore(this.dayEvent.endDate)){
        this.$snotify.error('Data końcowa musi być późniejsza niż początkowa','Błąd')
        return
      }
      if(this.selectedEvent == null) {
        this.addNewEvent()
        this.hide()
        return
      }
      this.updateEvent()
      this.hide()
      return
    },
    addNewEvent(): void{
      this.dayEvent.id = uuid()
      this.addEvent(this.dayEvent)
    },
    updateEvent(): void{
      this.updateStorageEvent(this.dayEvent)
    },
    hide(): void{
      this.$emit('input')
    },
  },
  components:{
    VueCtkDateTimePicker
  }
})
</script>