<template>
  <div class="day-event-list">
    <div class="d-flex justify-end">
      <v-btn 
        class="mt-5"
        color="primary"
        @click="add"
      >
        Dodaj
      </v-btn>
    </div>
    <v-data-table
      class="mt-7"
      :headers="headers"
      :items="getEventsForCurrentDay"
      hide-default-footer
      sort-by="startDate"
    >
      <template v-slot:item.actions="{item}">
        <v-icon
          small
          class="ml-2"
          @click="edit(item)"
        >
          mdi-pencil
        </v-icon>
        <v-icon
          small
          class="ml-2"
          @click="deleteItem(item.id)"
        >
          mdi-delete
        </v-icon>
      </template>
      <template v-slot:no-data>
        Brak danych
      </template>
    </v-data-table>
  </div>
</template>
<script lang="ts">
import { GetterType } from '@/store/calendar/getters'
import { MutationType } from '@/store/calendar/mutations'
import { ActionType } from '@/store/calendar/actions'
import { 
  useNamespacedActions,
  useNamespacedGetters, 
  useNamespacedMutations,
} from 'vuex-composition-helpers'
import { defineComponent, reactive } from '@nuxtjs/composition-api'
import { Dayjs } from 'dayjs'
import DayEvent from '@/models/DayEvent'
export default defineComponent({
  setup(){
    const headers = reactive({list: [
      { text: 'Opis', value: 'description' },
      { text: 'Start', value: 'startDate' },
      { text: 'Koniec', value: 'endDate' },
      { text: 'Akcje', value: 'actions', sortable: false },
    ]})
    const items = reactive({list: []})
    const { 
      [GetterType.getEventList]: getEvents,
      [GetterType.getSelectedDay]: selectedDay,
    } = useNamespacedGetters('calendar', [
      GetterType.getEventList,
      GetterType.getSelectedDay,
    ])
    const { 
      [MutationType.selectEvent]: selectEvent,
      [MutationType.clearSelectedEvent]: clearEvent 
    } = useNamespacedMutations('calendar', [
      MutationType.selectEvent,
      MutationType.clearSelectedEvent,
    ])
    const {[ ActionType.removeEventFromStorage]: removeEvent } = 
      useNamespacedActions('calendar',[
        ActionType.removeEventFromStorage
    ])
    return { 
      getEvents,
      selectedDay,
      selectEvent,
      clearEvent,
      removeEvent,
      headers: headers.list,
      items: items.list,
    }
  },
  computed:{
    getEventsForCurrentDay(): Array<DayEvent>{
      if(!Array.isArray(this.getEvents)) return []
      return this.getEvents.filter((event: DayEvent) => {
        if(event.startDate == null || event.endDate == null) return false
        const startDate = this.$dayjs(event.startDate)
        const endDate = this.$dayjs(event.endDate)
        const startDateIsInDay = startDate.isBetween(this.startOfDay, this.endOfDay, null, '[]')
        const endDateIsInDay = endDate.isBetween(this.startOfDay, this.endOfDay, null, '[]')
        const wholeDayEvent = startDate.isBefore(this.startOfDay) && endDate.isAfter(this.endOfDay)
        return startDateIsInDay || endDateIsInDay || wholeDayEvent
      })
    },
    startOfDay(): Dayjs{
      return this.$dayjs(this.selectedDay).startOf('day')
    },
    endOfDay(): Dayjs{
      return this.$dayjs(this.selectedDay).endOf('day')
    },
  },
  methods:{
    edit(event: DayEvent): void{
      this.selectEvent(event)
      this.$emit('showEditModal')
    },
    deleteItem(id: string): void{
      if(!confirm('Czy na pewno chcesz usunąć zdarzenie?')) return
      this.removeEvent(id)
        this.$snotify.success('Usunięto zdarzenie','Sukces')
    },
    add(): void{
      this.clearEvent()
      this.$emit('showAddModal')
    },
  },
})
</script>