<template>
  <div class="position-relative">
    <template v-if="loading">
      <v-card
        height="200"
      >
        <v-overlay 
          absolute
        >
          <v-progress-circular
            indeterminate
            size="32"
          />
        </v-overlay>
      </v-card>
    </template>
    <template v-else>
      <template v-if="errorMessage != null">
        <v-alert 
          type="error"
        >
          {{errorMessage}} 
          <v-icon 
            @click="$fetch"
          >
            mdi-refresh
          </v-icon>
        </v-alert>
      </template>
      <template v-else>
        <v-row>
          <v-col>
            Wilgotność: {{humidity}}
          </v-col>
          <v-col>
            Ciśnienie: {{pressure}}
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            Temperatura: <span v-html="temperature"></span>
          </v-col>
          <v-col>
            Odczuwalna: <span v-html="feelsLike"></span>
          </v-col>
        </v-row>
      </template>
    </template>
  </div>
</template>
<script lang="ts">
import {WeatherData} from '@/models/Weather'
import Weather from '@/models/Weather'
import { defineComponent } from '@nuxtjs/composition-api'
const LATITUDE = 52.409538
const LONGITUDE = 16.931992
const ONE_KELVIN = 272
const API_URL = 'https://api.openweathermap.org/data/2.5/onecall'
interface ResponseData {
  current: WeatherData
}
export default defineComponent({
  computed:{
    weatherKey(): string{
      if(process.env.OPEN_WEATHER_API_KEY == null) return ''
      return process.env.OPEN_WEATHER_API_KEY
    },
    loading(): boolean{
      return this.$fetchState.pending
    },
    errorMessage(): string | undefined{
      if(this.$fetchState.error == null) return 
      return this.$fetchState.error.message
    },
    temperature(): string{
      if(this.weather == null || this.weather.temp == null) return ''
      return `${Math.round(parseInt(this.weather.temp) - ONE_KELVIN)} <sup>o</sup>`
    },
    feelsLike(): string{
      if(this.weather == null || this.weather.feels_like == null) return ''
      return `${Math.round(parseInt(this.weather.feels_like) - ONE_KELVIN)} <sup>o</sup>`
    },
    pressure(): string{
      if(this.weather == null || this.weather.pressure == null) return ''
      return `${this.weather.pressure} hPa`
    },
    humidity(): string{
      if(this.weather == null || this.weather.humidity == null) return ''
      return `${this.weather.humidity} %`
    },
  },
  data(){
    return {
      weather: new Weather() as WeatherData
    }
  },
  async fetch() {
    const weatherData: ResponseData = await this.$axios.$get(`${API_URL}?lat=${LATITUDE}&lon=${LONGITUDE}&appid=${this.weatherKey}`)
    this.weather = new Weather(weatherData.current)
  },
})
</script>