<template>
  <div 
    class="month-grid-cell"
    @click="onSelectDay"
  >
    <div 
      class="day text-right pa-3"
      :class="{'month-day' : isCurrentMonthDay}"
    >
      <div>
        {{displayDay}}
      </div>
      <div>
        {{eventsCountText}}
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { GetterType } from '@/store/calendar/getters'
import { MutationType } from '@/store/calendar/mutations'
import { 
  useNamespacedGetters, 
  useNamespacedMutations,
} from 'vuex-composition-helpers'
import { defineComponent, PropType } from '@nuxtjs/composition-api'
import { Dayjs } from 'dayjs'
import DayEvent from '@/models/DayEvent'
interface DayInGrid {
  date: Dayjs,
  isMonthDay: boolean,
}
export default defineComponent({
  props:{
    day:{
      type: Object as PropType<DayInGrid>,
      required: true,
    },
  },
  setup(){
    const { [GetterType.getEventList]: getEvents } = useNamespacedGetters('calendar', [
      GetterType.getEventList,
    ])
    const { 
      [MutationType.selectDay]: selectDay,
      [MutationType.showEventListModal]: showEventModal 
    } = useNamespacedMutations('calendar', [
      MutationType.selectDay,
      MutationType.showEventListModal,
    ])
    return { 
      getEvents,
      selectDay,
      showEventModal,
    }
  },
  computed:{
    getEventsForCurrentDay(): Array<DayEvent>{
      if(!Array.isArray(this.getEvents)) return []
      return this.getEvents.filter((event: DayEvent) => {
        if(event.startDate == null || event.endDate == null) return false
        const startDate = this.$dayjs(event.startDate)
        const endDate = this.$dayjs(event.endDate)
        const startDateIsInDay = startDate.isBetween(this.startOfDay, this.endOfDay, null, '[]')
        const endDateIsInDay = endDate.isBetween(this.startOfDay, this.endOfDay, null, '[]')
        const wholeDayEvent = startDate.isBefore(this.startOfDay) && endDate.isAfter(this.endOfDay)
        return startDateIsInDay || endDateIsInDay || wholeDayEvent
      })
    },
    eventsCount(): number{
      return this.getEventsForCurrentDay.length
    },
    eventsCountText(): string{
      if(this.eventsCount === 0) return ''
      return `Zadania: ${this.eventsCount}`
    },
    date(): string{
      return this.day.date.format('YYYY-MM-DD')
    },
    startOfDay(): Dayjs{
      return this.day.date.startOf('day')
    },
    endOfDay(): Dayjs{
      return this.day.date.endOf('day')
    },
    displayDay(): string{
      return this.day.date.format('D')
    },
    isCurrentMonthDay(): boolean{
      if(this.day.isMonthDay == null) return false
      return this.day.isMonthDay
    },
  },
  methods:{
    onSelectDay(): void{
      this.selectDay(this.date)
      this.showEventModal()
    },
  }
})
</script>
<style lang="scss" scoped>
  .month-grid-cell{
    border-right: $gray-100 1px solid;
    border-top: $gray-100 1px solid;
    cursor: pointer;
    flex: 1;
    min-height: 100px;
  }
  .day{
    color: $gray-200;
    &.month-day{
      color: $gray-300;
    }
  }
</style>