<template>
  <div class="month-grid-header d-flex">
    <template 
      v-for="(day,index) in weekDays"
    >
      <div 
        :key="index"
        class="grid-header"
      >
        {{day}}
      </div>
    </template>
  </div>
</template>
<script lang="ts">
import { defineComponent, PropType, computed } from '@nuxtjs/composition-api'
import { Dayjs } from 'dayjs'
const WEEK_DAYS = 7
export default defineComponent({
  props:{
    startDay:{
      type: Object as PropType<Dayjs>,
      required: true,
    }
  },
  setup(props){
    const weekDays = computed((): Array<string> => Array(WEEK_DAYS).fill(null).map((_,index) => {
      const date = props.startDay.add(index,'day')
      return date.format('dd')
    }))
    return {
      weekDays
    }
  },
})
</script>
<style scoped>
  .grid-header{
    height: 30px;
    text-align: center;
    flex: 1;
  }
</style>