<template>
  <div class="month">
    <div class="d-flex justify-start">
      <v-icon 
        class="cursor-pointer ml-4"
        @click="monthPrev"
      >
        mdi-chevron-left
      </v-icon>
      <v-icon 
        class="cursor-pointer ml-4"
        @click="monthNext"
      >
        mdi-chevron-right
      </v-icon>
      <div class="selected-month">
        {{displayDate}} 
      </div>
    </div>
    <month-grid
      class="mt-4"
      :month="selectedDate"
    />
    <day />
  </div>
</template>
<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import {Dayjs} from 'dayjs'
export default defineComponent({
  data(){
    return{
      selectedDate: this.$dayjs() as Dayjs,
    }
  },
  computed:{
    displayDate(): string{
      return this.selectedDate.format('MMMM YYYY')
    },
  },
  methods:{
    monthPrev(){  
      this.selectedDate = this.selectedDate.subtract(1,'month')
    },
    monthNext(){
      this.selectedDate = this.selectedDate.add(1,'month')
    },
  },
})
</script>