<template>
  <div class="month-grid">
    <month-grid-header 
      :startDay="firstDayInGrid"
    />
    <div class="d-flex flex-wrap">
      <template v-for="(day,index) in daysInGrid">
        <month-grid-cell 
          :day="day" 
          :key="index"
        />
        <template v-if="(index + 1) % 7 === 0">
          <div 
            class="spacer"
            :key="`spacer-${index}`"
          ></div>
        </template>
      </template>
    </div>
  </div>
</template>
<script lang="ts">
interface DayInGrid {
  date: Dayjs,
  isMonthDay: boolean,
}
declare module 'dayjs' {
  interface Dayjs {
    isBetween(start: Dayjs, end: Dayjs, unit?: string | null, inclusive?: string): boolean
  }
}
const GRIND_DAYS_NUMBER = 7*6
const MAX_PREPENDED_DAYS = 6
import { defineComponent, PropType } from '@nuxtjs/composition-api'
import { Dayjs } from 'dayjs'
export default defineComponent({
  props:{
    month:{
      type: Object as PropType<Dayjs>,
      required: true,
    },
  },
  computed:{
    startOfMonth(): Dayjs{
      return this.month.startOf('month')
    },
    endOfMonth(): Dayjs{
      return this.month.endOf('month')
    },
    firstDayOfMonth(): number{
      return this.startOfMonth.get('d')
    },
    lastDayOfMonth(): number{
      return this.endOfMonth.get('d')
    },
    numberOfDaysInMonth(): number{
      return this.month.daysInMonth()
    },
    prependDays(): number{
      return this.firstDayOfMonth === 0 ? MAX_PREPENDED_DAYS : this.firstDayOfMonth - 1
    },
    appendDays(): number{
      return GRIND_DAYS_NUMBER - this.numberOfDaysInMonth - this.prependDays
    },
    firstDayInGrid(): Dayjs{
      return this.startOfMonth.subtract(this.prependDays,'day')
    },
    lastDayInGrid(): Dayjs{
      return this.endOfMonth.add(this.appendDays,'day')
    },
    daysInGrid(): Array<DayInGrid>{
      return Array(GRIND_DAYS_NUMBER).fill(null).map((_,index) => {
        const date = this.firstDayInGrid.add(index,'day')
        return {
          date: date,
          isMonthDay: date.isBetween(this.startOfMonth,this.endOfMonth, null, '[]'),
        }
      })
    },
  },
})
</script>
<style>
  .spacer{
    flex-basis: 100%;
    height: 0;
  }
  .spacer + .month-grid-cell,.month-grid-cell:first-of-type{
    border-left: #dadce0 1px solid;
  }
  .month-grid-cell:nth-last-child(-n+8){
    border-bottom: #dadce0 1px solid;
  }
</style>